p{font-family:  Times, sans-serif; text-indent: 25px; margin:5px 30px 0px; font-size:1.1em; }
#container{
width:100%;
background-color: #white;
margin: auto;
}
#body {
margin: 0;
height: 95%;
padding-left: 0px;
padding-top: 0px;
}
#header{
text-align: left;
background-color: #0066CC;
padding: 15px;
font-family:  Times, sans-serif;
}
#menu{
float:left;
width:1080px;
background-color:#ffffff;
font-family: Times, sans-serif;
color: 000000;
font-size: 1.0em;
height: auto;
}
#menu ul{
display: block;
margin: 0px ;
padding: 0px ;
list-style:none;
}

#menu li ul {
display: none;
}
#menu li a{
float: left;
padding: 8px 15px 8px 15px;
border-right: 1.75px solid #0066CC;
}
#main-content{
clear: left;
width: 950px;
padding: 15px 0px 0px 25px;
padding-bottom: 100px;
float: left;
}
#footer {
	position: fixed;
   left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0066CC;
  color: white;
  text-align: center;
  padding-bottom: 0em;
}
p.leftpquote {float: left; width: 8.0em; background: #0066cc; padding: 1.0em; margin: 0.8em 0.4em 0.0em 0.0em; font-size: 1.1em; color: #ffffff; text-align: left;}
p.rightpquote {float: right; width: 4.0em; background: #0066cc; padding: 1.0em; margin: 0.4em 0.0em 0.0em 0.4em; font-size: 1.1em; color: #ffffff; text-align: left;}
a:link{font-weight: bold; text-decoration:none; color: #000000;}
a:visited{font-weight: bold; text-decoration: none; color #ffffff}
a:hover{font-weight: bold; text-decoration: underline; color: #9685ba}
